POSTGRES_DB=koios
POSTGRES_USER=koios
POSTGRES_PASSWORD=changeme

KOIOS_DB_NAME=koios
KOIOS_DB_USER=koios
KOIOS_DB_PASS=changeme

KOIOS_DATA_PATH=/var/lib/koios/data/
KOIOS_MEDIA_PATH=/var/lib/koios/media/

LANDINGPAGE_VIEW=landingpage:home
