@media (max-width: 716px) {
    .dropdown-item::before {
        transform: rotate(-90deg);
    }
}

.sidebar {
    width: 200px;
    transition: width 0.3s;
    position: fixed;
}

.sidebar.collapsed {
    width: 74px;
}

.sidebar.collapsed .sidebar-text {
    display: none;
}

.sidebar .nav-link {
    padding-left: 6px;
}

.sidebar .nav-link i {
    font-size: 1.2rem;
    min-width: 30px;
}

main {
  margin-left: 200px;
  transition: margin-left 0.3s;
}

.sidebar.collapsed ~ main {
  margin-left: 74px;
}
